body {
  text-align: center
}

input {
  display: block;
  padding: 8px 12px;
  font-size: 1.2em;
  margin: 10px auto;
  width: 75%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
}

.valid {
border-color: lightgreen;
}

.invalid {
  border-color: lightcoral;
}